body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 200px;
  height: auto;
}

.form-container {
  display: flex;
  justify-content: center;
}

.travel-form {
  max-width: 260px;
  min-width: 260px;
}

.btn {
  background-color: #62a702;
  border-color: #62a702;
}

.btn:hover {
  background-color: #51840a;
  border-color: #51840a;
}

.btn:focus {
  background-color: #51840a;
  border-color: #51840a;
}

.result .cost {
  font-size: 50px;
}

.river {
  background-color: #cbecfb;
}

.river .cargo {
  margin-top: 30px;
}

.river .arrow {
  width: 100%;
}

.river .line {
  margin-top: 5px;
  min-width: 100px;
  background: black;
  height: 2px;
  float: left;
}

.river .left-point {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7.5px solid black;
  float: right;
  position: relative;
  top: -6px;
  left: 1px;
}

.river .right-point {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7.5px solid black;
  float: left;
  position: relative;
  top: -6px;
  left: -1px;
}

.error {
  background-color: #d25d5d;
  border-color: #8e1717;
  border-radius: 5px;
  border-width: 2px;
  color: white;
}

.notice {
  background-color: #d25d5d;
  border-color: #8e1717;
  border-radius: 5px;
  border-width: 2px;
  color: white;
}
